/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
    font-display: swap;
    font-family: 'Inter-Variable';
    font-variation-settings: normal;
    src:
    url(./Inter-Variable.woff2) format('woff2 support variation , woff2-variation');
    font-weight:400 785;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url(./PressStart2P-Regular.woff) format('woff');
    font-display: swap;
    font-weight: normal;
}